#########################################################################
#
# PowerPC-MacOSX-gcc-Configuration
# --------------------------------
#
# $Id: Host.cfg,v 1.1 2005/10/18 12:57:55 knueppel Exp $
#
#########################################################################

ENDIAN		= BIG
COMPARE		= INTEGER
CC		= gcc
CCPLUS		= $(CC)
CFLAGS		= -O2
CPLUSFLAGS	= $(CFLAGS)
IAS		=
IASFLAGS	=
LINK		= $(CC)
LINKFLAGS	=
AR		= ar ruc
AS		= as
RANLIB		= ranlib
RM		= rm -f
RMDIR		= rmdir
INSTALL		= cp -f
SYSLIBS		= -lstdc++ -lm
TESTEXT		= .exe
